@font-face {
    font-family: "TitleFont";
    src: url("fonts/TitleFont.ttf");
}

@font-face {
    font-family: "LargeFont";
    src: url("fonts/LargeFont.ttf");
}

@font-face {
    font-family: "SmallFont";
    src: url("fonts/SmallFont.ttf");
}

.navbar-brand {
    font: 2.2em TitleFont, sans-serif;
    color: #c53431 !important;
    margin: 0;
    height: 64px;
    line-height: 54px;
}

.navbar-nav {
    font-size: 1.2em;
}

.navbar {
    padding: .5rem 2rem;
}

.navbar-light {
    background-color: #ffffff !important;
    border-bottom: 1px solid #ececec;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 64px;
}

.nav-item {
    /*font: 1em TitleFont, sans-serif;*/
}

.parallax {
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
    margin-bottom: 1em;
}

.parallax-small {
    min-height: 100px;
}

.bg-1 {
    background-color: #f8f3f0;
}

.bg-2 {
    background-color: #f7f7f7;
}

.bg-3 {
    background-color: #ffffff;
}

.nw-plug {
    background-color: #e8e8e8;
    border-radius: 16px;
    font-size: 1.2em;
    color: #8f7e7e;
    background-image: url("../img/nw-plug.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    height: 300px;
}

.nw-plug-err {
    background-image: url("../img/nw-plug-err.png");
}

.nw-plug-ok {
    background-image: url("../img/nw-plug-ok.png");
}

.badge-danger {
    background-color: #c03535;
    color: #ffffff;
}

.badge-warning {
    background-color: #efcb16;
    color: #ffffff;
}


