// Files starting by "_" are not processed by node-sass when you ctrl-s; they are only processed in the omega.library.sass file.

@import '_reset.sass'
@import '_fonts.sass'

@import 'components/_header.sass'
@import 'components/_footer.sass'
@import 'components/_calculator.sass'

@import 'pages/_index.sass'
@import 'pages/_policy.sass'
@import 'pages/_releases.sass'
@import 'pages/_installer.sass'
@import 'pages/_projects.sass'
@import 'pages/_editor.sass'
@import 'pages/_simulator.sass'
@import 'pages/_notfound.sass'

body, .body
    display: flex
    font-family: 'Fira Sans', sans-serif
    flex-direction: column
    min-height: 100vh

.content
    flex: 1
