.project-description
    background-color: #c53431
    padding-top: 64px
    text-align: center

    &__title
        padding-top: 48px
        font-size: 64px
        font-family: $font-righteous
        color: #fff

    &__subtitle
        font-size: 20px
        font-weight: 500
        margin-top: 24px
        color: #fafafa

    &__button
        margin-top: 32px
        color: #ffffff

    &__description
        font-size: 16px
        color: #656565
        background-color: #F4F4F4
        text-align: justify
        padding: 32px 25%
        margin-top: 96px
        line-height: 22px

.feature
    overflow: hidden
    padding: 0 calc(25% - 16px)
    padding-top: 16px
    vertical-align: middle

    &-mobile
        display: none
    &-desktop
        display: inline-block

    &-white
        background-color: #ffffff

    &-gray
        background-color: #F4F4F4

    &-darkgray
        background-color: #e2e2e2
        padding-bottom: 16px

    &__content
        display: inline-block
        width: 50%
        vertical-align: top
        //padding: 0 16px
        box-sizing: border-box

        &-full
            width: 100%

        &__title
            font-size: 22px
            font-weight: 700
            text-align: left
            padding-top: 48px
            color: #747474

        &__description
            font-style: 16px
            text-align: left
            margin-top: 16px
            line-height: 20px
            margin-bottom: 12px
            padding-bottom: 32px
            color: #707070

        &__small
            margin-top: 12px
            margin-bottom: 42px
            font-size: 12px
            color: rgb(150, 150, 150)

    &__images
        display: inline-block
        width: 50%
        vertical-align: top
        box-sizing: border-box
        margin-bottom: -12px

        &__image
            overflow: hidden
            width: 100%

.download
    background-color: #343434
    padding: 48px 0
    text-align: center

    &__title
        font-size: 32px
        font-weight: 700
        color: #A8A8A8
        margin-bottom: 12px

    &__version
        font-size: 18px
        font-family: $font-righteous
        color: #A8A8A8
        margin-bottom: 24px

    & .releases__cards__card__actions
        display: inline-block
        float: inherit
        border: 1px solid #9e9e9e
        color: #BABABA
        user-select: none

        &:hover
            background-color: #2e2e2e

        &__subbutton
            color: #BABABA

            &:hover
                background-color: #202020

@media screen and ( max-width: 1100px )
    .feature
        padding: 0 calc(15% - 16px)
        padding-top: 16px

        &-darkgray
            padding-bottom: 16px

    .project-description
        &__description
            padding: 32px 15%

@media screen and ( max-width: 800px )
    .feature
        padding: 0 calc(32px - 16px)
        padding-top: 16px

        &-darkgray
            padding-bottom: 16px

    .project-description
        &__description
            padding: 32px 32px

@media screen and ( max-width: 680px )
    .project-description
        padding-top: 64px
        &__title
            padding-top: 0
            font-size: 54px

        &__description
            font-size: 16px
            margin-top: 64px

    .feature
        &-mobile
            display: inline-block
        &-desktop
            display: none

        &__content
            width: 100%
            &__title
                padding-top: 16px
            &__description
                padding-bottom: 0

        &__images
            margin-left: 5%
            width: 90%
            text-align: center
            display: block

            &__image
                width: 90%

@media screen and ( max-width: 500px )
    .feature
        &__images
            margin-left: 0
            width: 100%
            &__image
                margin-top: 8px
                margin-bottom: 8px
