.project-description
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    padding-top: 64px
    text-align: center
    overflow: hidden
    position: relative
    
    // PARALLAX
    // background-attachment: fixed

    &__img
        z-index: -2
        position: absolute
        top: 0
        left: 0

    &__title
        padding-top: 48px
        font-size: 64px
        font-family: $font-righteous
        color: #fff

    &__subtitle
        font-size: 20px
        font-weight: 500
        margin-top: 24px
        color: #fafafa

    &__button
        margin-top: 32px
        color: #ffffff

    &__description
        font-size: 16px
        color: #656565
        background-color: #F4F4F4
        text-align: justify
        padding: 32px 64px
        margin-top: 96px
        line-height: 22px

.download
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: rgb(73, 98, 114)
    padding: 48px 0
    text-align: center
    color: white

    &__title
        font-size: 32px
        font-weight: 700
        margin-bottom: 12px

    &__version
        font-size: 18px
        font-family: $font-righteous
        margin-bottom: 24px

    & .releases__cards__card__actions
        display: inline-block
        float: inherit
        border: 1px solid #b3b3b3
        user-select: none

        &:hover
            background-color: rgba(0, 0, 0, 0.2)

        &__subbutton
            color: #e7e7e7

            &:hover
                background-color: rgba(0, 0, 0, 0.4)

@media screen and ( max-width: 1100px )
    .feature
        padding: 0 calc(15% - 16px)
        padding-top: 16px

        &-darkgray
            padding-bottom: 16px

    .project-description
        &__description
            padding: 32px 15%

@media screen and ( max-width: 800px )
    .feature
        padding: 0 calc(32px - 16px)
        padding-top: 16px

        &-darkgray
            padding-bottom: 16px

    .project-description
        &__description
            padding: 32px 32px

@media screen and ( max-width: 680px )
    .project-description
        padding-top: 64px
        &__title
            padding-top: 0
            font-size: 54px

        &__description
            font-size: 16px
            margin-top: 64px

    .feature
        &-mobile
            display: inline-block
        &-desktop
            display: none

        &__content
            width: 100%
            &__title
                padding-top: 16px
            &__description
                padding-bottom: 0

        &__images
            margin-left: 5%
            width: 90%
            text-align: center
            display: block

            &__image
                width: 90%

@media screen and ( max-width: 500px )
    .feature
        &__images
            margin-left: 0
            width: 100%
            &__image
                margin-top: 8px
                margin-bottom: 8px
