.header
    height: 64px
    background-color: #fff
    border-bottom: 1px solid #ececec

    &__logo
        font-family: 'Righteous', cursive
        font-size: 32px
        color: #c53431
        text-decoration: none
        line-height: 60px
        margin-left: 32px

        &:hover
            color: #c53431
            text-decoration: none
    
    &__links
        float: right
        margin-right: 24px

        &__link
            text-decoration: none
            color: #484848
            line-height: 64px
            font-weight: 500
            margin: 0 4px
            padding: 4px 8px
            transition: 0.2s all

            &-active
                color: #242424
                font-weight: 900
                background-color: rgba(0, 0, 0, 0.05)
            
            &:hover
                background-color: rgba(0, 0, 0, 0.1)

@media screen and ( max-width: 420px )
    .header
        height: 112px
        
        &__logo
            line-height: 72px
            display: block

        &__links
            float: left
            margin-left: 22px
            margin-top: -10px

            &__link
                text-decoration: none
                color: #484848
                line-height: 40px
                font-weight: 500
                margin: 0 12px